.tabla {
	border: 1px solid black;
	padding: 1%;
    position: absolute;
    top: 73%;
    right: 11%;
}

.imagen_p{
	position: absolute;
    top: 15%;
    left: 20%;
}

.imagen_l{
	position: absolute;
    top: 105%;
    left: 20%;
}

.topright_01 {
    position: absolute;
    top: 7%;
    right: 8%;
}

.left_titulo {
    position: absolute;
	top: 70%;
    left: 20%;
	right: 30%;
}

.left_c_g {
    position: absolute;
	top: 85%;
    left: 20%;
	right: 30%;
}

.left_es {
    position: absolute;
	top: 150%;
    left: 20%;
	right: 30%;
}

.copyright {
	margin: 2em 0 0;
	text-align: center;
	position: absolute;
	top: 160%;
	left: 30%;
	bottom: 0px;
}